<% provide(:title, "Home") %>
<div class="row">
	<div class="col-md-9">
		<div class="well">
	    	<%=render ('static_pages/carousel')%>
			<div class="row">
				<div class="col-md-8 col-md-offset-1">
	        	<h2 style="font-size: 18px; font-weight: 400;">Latest Technology and Consumer electronics news and reviews.<br> Gadget Mania covers gadgets, science, designs, softwares and technology news.</h2>   
	      		</div>
				<div class="col-md-3">
					<%= link_to "Sign up now!", new_user_path , class: "btn btn-lg btn-primary", :style=> "background-color: #ff3d00; border-color:#ff3d00; margin-top:10px;" %>
				</div>
			</div>
			
		</div>
		<div class="well">
	    	<%=render ('static_pages/carousel')%>
			<div class="row">
				<div class="col-md-8 col-md-offset-1">
	        	<h2 style="font-size: 18px; font-weight: 400;">Latest Technology and Consumer electronics news and reviews.<br> Gadget Mania covers gadgets, science, designs, softwares and technology news.</h2>   
	      		</div>
				<div class="col-md-3">
					<%= link_to "Sign up now!", new_user_path , class: "btn btn-lg btn-primary", :style=> "background-color: #ff3d00; border-color:#ff3d00; margin-top:10px;" %>
				</div>
			</div>
			
		</div>
		<div class="well">
	    	<%=render ('static_pages/carousel')%>
			<div class="row">
				<div class="col-md-8 col-md-offset-1">
	        	<h2 style="font-size: 18px; font-weight: 400;">Latest Technology and Consumer electronics news and reviews.<br> Gadget Mania covers gadgets, science, designs, softwares and technology news.</h2>   
	      		</div>
				<div class="col-md-3">
					<%= link_to "Sign up now!", new_user_path , class: "btn btn-lg btn-primary", :style=> "background-color: #ff3d00; border-color:#ff3d00; margin-top:10px;" %>
				</div>
			</div>
			
		</div>
	</div>


	<div class="col-md-3">
	  <%= render('static_pages/emailnewsletter')%>
	  <%= render('static_pages/trending')%>
	</div>

</div>


