<%= bootstrap_form_for(@user, inline_errors: false) do |f| %>
  <div class="row " >
    <div class="col-md-9 col-md-offset-1 " id="signup">
      <div class="input-group input-group-lg">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <%= f.text_field :name, id: "Name", class: "form-control input-lg", type: "text", placeholder:"Enter your Name", hide_label: true %>
      </div>
      <%= f.errors_on :name, hide_attribute_name: true %>
      <br>
      <div class="input-group input-group-lg">
        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
        <%= f.text_field :email, id: "Email", class: "form-control input-lg", type: "text", placeholder:"Enter your Email", hide_label: true %>
      </div>
      <%= f.errors_on :email, hide_attribute_name: true %>
      <br>
      <div class="input-group input-group-lg">
        <span class="input-group-addon"><i class="fa fa-key"></i></span>
        <%= f.text_field :password, id: "password", class: "form-control input-lg", type: "password", placeholder:"New Password", hide_label: true%>
      </div>
      <%= f.errors_on :password, hide_attribute_name: true %>
      <br>
      <div class="input-group input-group-lg">
        <span class="input-group-addon"><i class="fa fa-key"></i></span>
        <%= f.text_field :password_confirmation, id: "password_confirmation", class: "form-control input-lg", type: "password", placeholder:"Confirm New Password", hide_label: true %>
      </div>
      <%= f.errors_on :password_confirmation, hide_attribute_name: true %>
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 col-md-offset-1">
      <button type="submit" class="btn btn-default" style="width:100%; background-color: #ff3d00;color: white; font-weight: bold; height: 40px;">
      <i class="fa fa-check"></i>
      Submit</button>
    </div>
  </div>
<% end %>


<%= bootstrap_form_for(@user, label_errors: true) do |f| %>
<!-- <div class="row">
<div class="col-md-9 col-md-offset-1 ">
  <%= f.text_field :name, icon: "user"%>
  <%= f.email_field :email, icon: "envelope" %>
  <%= f.password_field :password, icon:"exclamation-sign" %>
  <%= f.password_field :password_confirmation, icon:"exclamation-sign" %>
  <%= f.submit "Log In", class: "btn btn-success" %>
</div>
</div>
 -->

<% end %>






