<div class="col-md-6">
  <div class="well" style="background-color: #fff;">
    <div class="row">
      <div class="col-md-4">
        <%= image_tag user.avatar.url(:thumb), class: "img-rounded img-responsive" %>
      </div>
      <div class="col-md-8">
        <h4><%= link_to user.name, user%></h4>
        <small><cite title="San Francisco, USA"><%= user.location%>
        <i class="glyphicon glyphicon-map-marker"></i></cite></small>
        <p>
          <i class="glyphicon glyphicon-envelope" style="padding-right: 5px;"></i><%= user.email %><br/>
          <i class="glyphicon glyphicon-gift" style="padding-right: 5px;"></i><%= user.dob.to_date.strftime("%d " "%B, %Y") rescue nil%>
          <% if current_user.admin? && !current_user?(user) %>
            <%= link_to "delete", user, method: :delete, data: { confirm: "You sure?" }, class:"btn btn-danger btn-xs pull-right", style: "margin-top:5px;" %>
          <% end %>
        </p>
        
      </div>
    </div>
  </div>
</div>