
<% provide(:title, 'All users') %>
<ol class="breadcrumb">
  <li class="breadcrumb-item"><%= link_to 'Home', root_path %></li>
  <li class="breadcrumb-item"><%= link_to current_user.name, current_user%></li>
  <li class="breadcrumb-item active">All Users</li>
</ol>

<div class="row">
  <div class="col-md-9">
    <div class="well">
      <h1>All Users</h1>
      <div class="row">
        <% @users.each do |user| %>
          <div class="col-md-6">
            <div class="well">
              <div class="row">
                <div class="col-md-4">
                  <img src="http://placehold.it/380x500" alt="" class="img-rounded img-responsive" />
                </div>
                <div class="col-md-8">
                  <h4><%= link_to user.name, user%></h4>
                  <small><cite title="San Francisco, USA">London, United Kingdom
                  <i class="glyphicon glyphicon-map-marker"></i></cite></small>
                  <p>
                    <i class="glyphicon glyphicon-envelope"></i><%= user.email %><br/>
                    <i class="glyphicon glyphicon-gift"></i>April 01, 2017
                  </p>
                </div>
              </div>
            </div>
          </div>
        <%end%>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <%= render('static_pages/trending')%>
  </div>
</div>

