<% provide(:title, "My account") %>
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item active"><%=@user.name%></li>
</ol>
<div class="row">
	<div class="col-md-9">
		<div class="well">
			<ul class="nav nav-tabs">
			    <li class="active"><a data-toggle="tab" href="#home" style="font-weight: 700;">profile</a></li>
			    <% if logged_in? && current_user?(@user)%>
    				<li><a data-toggle="tab" href="#feeds" style="font-weight: 700;">feeds</a></li>
    				<li><a data-toggle="tab" href="#yourposts" style="font-weight: 700;">Your Posts</a></li>
    				<li><a data-toggle="tab" href="#settings" style="font-weight: 700;">Settings</a></li>
    			<%end%>
  			</ul>

  			<div class="tab-content">
			    <div id="home" class="tab-pane fade in active">
			      <div class="row" style="margin-top: 20px;">
		      		<div class="col-md-6">
		      			<%= image_tag @user.avatar.url, width:"100%", height:"100%"%>
  						</div>
					    <div class="col-md-6" style="margin-top: 20px;">
					      <blockquote>
					        <p><%= @user.name %></p>
					        <small><cite title="Source Title">London, United Kingdom  <i class="icon-map-marker"></i></cite></small>
					      </blockquote>
					      <p>
					        <i class="icon-envelope"></i> masterwayne@batman.com <br>
					        <i class="icon-globe"></i> www.bootsnipp.com <br>
					        <i class="icon-gift"></i> January 30, 1974
					      </p>
					    </div>
		      	</div>	
			    </div>
			    <div id="feeds" class="tab-pane fade">
			    </div>
			    <div id="yourposts" class="tab-pane fade">
			    </div>
			    <div id="settings" class="tab-pane fade">
			    <%= render 'editform'%>
			    </div>
			</div>
			
		</div>
	</div>
	<div class="col-md-3">
	  <%= render('static_pages/trending')%>
	</div>
</div>