<div class="container" style="color:#fff;">
  <div class="row">
    <div class="col-md-4">
      <img src="/assets/header2.jpg" width="70%" height="70%" style="padding-left: 20px;">  
    </div>
    <span class="col-md-8 pull-right" style= "letter-spacing: 4px; font-family: Segoe UI,Arial, sans-serif; display: block; line-height: 50px; color:#333; font-size: 30px; position: relative; top: 80px; text-align: right;">
    Latest technology news & reviews
    </span>
  </div>
</div>

<div class="container" style="padding: 0px;">
  <nav class="navbar navbar-inverse" data-spy="affix" data-offset-top="150" style="margin-bottom: 0px;">
    <ul class="nav navbar-nav">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Popular Blogs", '#' %></li>
      <li><%= link_to "Recent Blogs", '#' %></li>
      <li><%= link_to "About Us", static_pages_about_us_path %></li>
      <li><%= link_to "Contact Us", static_pages_contact_us_path %></li>
    </ul>
    <form class="navbar-form navbar-right" style="margin-right: 0px;">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search" style="height: auto;">
        <div class="input-group-btn">
          <button class="btn btn-default" type="submit">
            <i class="glyphicon glyphicon-search"></i>
          </button>
        </div>
      </div>
    </form>





    <% if logged_in? %>
    <ul class="nav navbar-nav navbar-right" style="margin-right: 0px;">
    <li><%= link_to "Users", '#' %></li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        Account <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        <li><%= link_to "Profile", current_user %></li>
        <li><%= link_to "Settings", '#' %></li>
        <li class="divider"></li>
        <li>
          <%= link_to "Log out", logout_path, method: "delete" %>
        </li>
      </ul>
    </li>
    </ul>
    <%else%>
    <ul class="nav navbar-nav navbar-right" style="margin-right: 0px;">
      <li><a href="<%=new_user_path%>"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="<%=login_path%>"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>

    <%end%>
  </nav>
</div>


