<!DOCTYPE html>
<html>
  <head>
    <title> <%= full_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    
  </head>

  <body>
    <div class="container" ">
      <div class="row" style="background-color: #fff;"">
        <nav class="navbar">
          <div class="row">
            <div class="col-md-3">
              <img src="/assets/header.png" width=100% height=100% style="padding-left: 5px;" ></img>
            </div>

            <div class="col-md-9">
              <div class="row" style="margin-top: 20px;">
                <div class="col-md-4"></div>
                <div class="col-md-8">
                  <div class="row">
                    <div class="col-md-12">
                      <ul class="nav navbar-nav navbar-right " id="myrightoplink">
                        <li><a href="#">
                          <span class="glyphicon glyphicon-user" id="mysignupicon"></span>Sign Up</a>
                        </li>
                        <li><a href="#">
                          <span class="glyphicon glyphicon-log-in" id="myloginicon"></span> Login</a>
                        </li>
                      </ul>
                    </div>
                  </div> 
                </div>   
              </div>
                <div class="row">
                  <div class="col-md-8">
                    <ul class="nav navbar-nav" id="mynavclass">
                      <li><a href="#">Home</a></li>
                      <li><a href="#">Popular Gadgets</a></li>
                      <li><a href="#">Recent Gadgets</a></li>
                      <li><a href="#">About Us</a></li>
                      <li><a href="#">Contact Us</a></li>
                    </ul>
                  </div>
                  <div class="col-md-4" >
                    <form class="search" style="margin-top: 5px;">
                      <span class="fa fa-search" aria-hidden="true"></span>
                      <input type="text" class="form-control" name="search" placeholder="Search..">
                    </form>
                  </div>
                </div>
            </div> 
          </div>
        </nav>
      </div>

    	<%= yield %>
    </div>

  </body>
</html>
