<!DOCTYPE html>
<html>
  <head>
    <title> <%= full_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    
  </head>

  <body>
    <header class="container">
      <div class="row" style="background-color: #fff;"">
        <nav class="navbar">
          <div class="row">
            <div class="col-md-3">
              <img src="/assets/header.png" width=100% height=100% style="padding-left: 5px;" ></img>
            </div>

            <div class="col-md-9">
              <div class="row" style="margin-top: 20px;">
                <div class="col-md-4"></div>
                <div class="col-md-8">
                  <div class="row">
                    <div class="col-md-12">
                      <ul class="nav navbar-nav navbar-right " id="myrightoplink">
                        <li style="margin-right: 10px;">
                          <div> <i class="glyphicon glyphicon-user" id="mysignupicon"></i><%= link_to "Signup", new_user_path %></div>

                        </li>
                        <li style="margin-right: 10px;">
                          <div> <i class="glyphicon glyphicon-log-in" id="myloginicon"></i><%= link_to "Login", '#' %></span>
                        </li>
                      </ul>
                    </div>
                  </div> 
                </div>   
              </div>
                <div class="row">
                  <div class="col-md-8">
                    <ul class="nav navbar-nav" id="mynavclass">
                      <li><%= link_to "Home", static_pages_home_path %></li>
                      <li><%= link_to "Popular Gadgets", '#' %></li>
                      <li><%= link_to "Recent Posts", '#' %></li>
                      <li><%= link_to "About Us", static_pages_about_us_path %></li>
                      <li><%= link_to "Contact Us", static_pages_contact_us_path %></li>
                    </ul>
                  </div>
                  <div class="col-md-4" >
                    <form class="search" style="margin-top: 5px;">
                      <span class="fa fa-search" aria-hidden="true"></span>
                      <input type="text" class="form-control" name="search" placeholder="Search..">
                    </form>
                  </div>
                </div>
            </div> 
          </div>
        </nav>
      </div>
    </header>
    <div class="container">
        <%= yield %>
    </div>
    <footer class="container footer">
      <small>
        Latest Technology and Consumer electronics news and reviews.
      </small>
      <nav>
        <ul>
          <li><%= link_to "About Us",   static_pages_about_us_path %></li>
          <li><%= link_to "Contact Us", static_pages_contact_us_path %></li>
          <li><a href="http://news.railstutorial.org/">News</a></li>
        </ul>
      </nav>
    </footer>
  </body>
</html>
